@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;}
.spacer{height:20px;}
ul{list-style:none;}
a{text-decoration:none;color:#09C;}
body{font-family:'Sego',sans-serif;}
input[type="submit"],input[type="reset"],input[type="button"],button{cursor:pointer;}
textarea{resize:vertical;}

/* font face */
@font-face{
    font-family:'Sego';
    /* src: url('../fonts/segoeui.eot'); */
    src: url('../fonts/segoeui.eot') format('embedded-opentype'),
         url('../fonts/segoeui.woff') format('woff'),
         url('../fonts/segoeui.ttf') format('truetype'),
         url('../fonts/segoeui.svg#SegoeUIRegular') format('svg');
}

@font-face{
    font-family:'Segol';
    /*src: url('../fonts/segoeuil.eot');*/
    src: url('../fonts/segoeuil.eot') format('embedded-opentype'),
         url('../fonts/segoeuil.woff') format('woff'),
         url('../fonts/segoeuil.ttf') format('truetype'),
         url('../fonts/segoeuil.svg#SegoeUIRegular') format('svg');
}
/* font face */
.form-container{max-width:1120px;margin:0 auto;border:1px solid #eeeeee;}
.form-main-head{font-family:'Sego',sans-serif;background:#0d557b;color:#fff;font-size:20px;padding:10px;}
.form-sub-head{background:#6f6f6f;color:#fff;border-radius:5px;margin:10px;font-size:18px;padding:8px;}
.form-container .fields-container{background:#f1f1f1;padding:20px;margin:10px;border-radius:5px;}
.form-container .fields-container ul{display:block;margin:0;padding:0;list-style:none;}
.form-container .fields-container li{padding:0;margin:0;display:block;float:left;width:33.33%;}
.clearfix{clear:both;margin:0;padding:0;}
.form-container .fields-container li .form{padding:5px;font-size:12px;color:#407e9e;}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="url"],
.form-container input[type="date"],
.form-container input[type="file"],
.form-container input[type="password"],
.form-container textarea,
.form-container select{width:100%;padding:5px;font-size:14px;color:#666;box-sizing:border-box;border:1px solid #eeeeee;}
.form-container select{padding:0px;max-height:29px;min-height:28px;}
.form-container option{padding:4px;color:#666;max-height:25px;}
select:first-child{color:#acacac;}
.form-container input[type="file"]{background:#fff;padding:1px;border:1px solid #eeeeee;}

.form-container:nth-child(odd){background:#c9eadf;margin:20px auto;}
.form-container .col-group{margin:20px;color:#0d557b;}
.form-container .col2{width:49%;display:block;float:left;}
.form-container .col2:nth-child(even){float:right;}
.form-container .col1{padding:5px 0;}
textarea.medium{min-height:120px;resize:vertical;border:1px solid #ccc;border-radius:5px;margin:4px 0;}
.small{width:49% !important;display:inline-block;}
.form-container .col3{width:33.33%;float:left;}
.form-container .col4{width:25%;float:left;}
.form-container .col5{width:20%;float:left;}
.form-container .col2 .form,
.form-container .col3 .form,
.form-container .col4 .form,
.form-container .col5 .form{padding:5px 0;color:#666;font-size:14px;}
.padding{padding:10px 0;}
.form-container .col2 .form,
.form-container .col3 .form,
.form-container .col4 .form,
.form-container .col5 .form{margin-right:10px;}
.form-container .col2:nth-child(2n) .form,
.form-container .col3:nth-child(3n) .form,
.form-container .col4:nth-child(4n) .form,
.form-container .col5:nth-child(5n) .form{margin-right:0;}

.blue-sub-head{background:#6797b1;padding:5px;color:#fff;margin-right:10px;margin-top:5px;}
.grey-sub-head{background:#6f6f6f;padding:5px;color:#fff;margin-right:10px;margin-top:5px;}
.col5:nth-child(5n) .blue-sub-head{margin-right:0;}
.col3:nth-child(3n) .grey-sub-head{margin-right:0;}
.light-bg{background:#f1f1f1;}

.register{background:#93b949;color:#fff;padding:8px 20px;border:none;border-radius:5px;}