@charset "utf-8";
/* CSS Document */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
/* tabs */  

.rslides_tabs {
  list-style: none;
  padding: 0;
 /* background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);*/
  font-size: 18px;
  list-style: none;
  margin: 0 auto;
  max-width: 540px;
  padding:0;
  text-align: center;
  width: 100%;
  position:relative;
  z-index:20;
  bottom:18px;
  }

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
 /* background-color:#666;*/
  }

.rslides_tabs a {
  width: auto;
  line-height:0px;
  padding:0 2px;
  height: auto;
  background: transparent;
  display: inline;
  text-decoration:none;
  color:transparent;
  background:url(../images/banner-li.png) no-repeat;
  margin-right:5px;
  }

.rslides_tabs li:first-child {
	
  margin-left: 0;
  }

.rslides_tabs .rslides_here a {
 /* background: rgba(255,255,255,.1);*/
  color: transparent;
  font-weight: bold;
  background:url(../images/banner-li-active.png) no-repeat;  
  }
  
/* tabs */
  